/* Fonts */
$fontKumbh: 'Kumbh Sans', sans-serif;

/* Texts */
$violet: #5964e0;
$lightViolet: #939bf4;
$darkBlue: #19202d;
$midnight: #121721;
$darkGrey: #6e8098;
$grey: #9daec2;
$light: #f4f6f8;
$white: #ffffff;
